<script type="home" id="home">

<h1>Hello. Here is your Workout List!</h1>

<form method="post">
  <input type="hidden" name="id" value="{{this.id}}">
  <input type="text" name="name" value="{{this.name}}">
  <input type="text" name="reps" value="{{this.reps}}">
  <input type="text" name="weight" value="{{this.weight}}">
  <input type="text" name="date" value="{{this.date}}">
  <input type="text" name="lbs" value="{{this.lbs}}">
  <input type="submit" name="Add Entry" value="Add Entry">
</form>


<form method="post">
  <input type="text" name="name" id="toDoName">
  <input type="submit" name="deleteButton" value="remove">
</form>

<h1>MySQL Results:</h1>
<p>{{results}}</p>

<table>
    <thead> 
        <th>Name</th> 
        <th>Reps</th> 
        <th>Weight</th>
        <th>Date</th> 
		<th>Lbs</th> 
    </thead> 
    <tbody> 
	  {{#each result}}
			<tr> 
            <td>{{name}}</td>
            <td>{{reps}}</td> 
            <td>{{weight}}</td> 
            <td>{{date}}</td> 
            <td>{{lbs}}</td> 			
			</tr>  
			  {{/each}}
    </tbody> 
</table> 
</script>