<h1>Hello. Here is your Workout List!</h1>

<form method="post">
  <input type="hidden" name="id" value="{{this.id}}">
  <input type="text" name="name" value="{{this.name}}">
  <input type="text" name="reps" value="{{this.reps}}">
  <input type="text" name="weight" value="{{this.weight}}">
  <input type="text" name="date" value="{{this.date}}">
  <input type="text" name="lbs" value="{{this.lbs}}">
  <input type="submit" name="Add Entry" value="Add Workout">
</form>


<form method="post">
  <input type="text" name="name" id="toDoName">
  <input type="submit" name="deleteb" value="remove">
</form>

<h1>MySQL Results:</h1>
<p>{{results}}</p>

<table>
    <thead> 
        <th>Name</th> 
        <th>Reps</th> 
        <th>Weight</th>
        <th>Date</th> 
		<th>Lbs</th> 
    </thead> 
    <tbody> 
	  {{#each workout}}
			<tr> 
            <td>{{this.name}}</td>
            <td>{{this.reps}}</td> 
            <td>{{this.weight}}</td> 
            <td>{{this.date}}</td> 
            <td>{{this.lbs}}</td> 			
			</tr>  
			<tr> 
            <td>{{result.name}}</td>
            <td>{{result.reps}}</td> 
            <td>{{result.weight}}</td> 
            <td>{{result.date}}</td> 
            <td>{{result.lbs}}</td> 			
			</tr>  
			<tr> 
            <td>{{req.session.name}}</td>
            <td>{{req.session.name}}</td> 
            <td>{{context.weight}}</td> 
            <td>{{context.date}}</td> 
            <td>{{context.lbs}}</td> 			
			</tr>  
			  {{/each}}
    </tbody> 
</table> 